.main__card{
    width: 60%;
    margin: auto;
    background-color: rgb(49, 49, 49) !important;
    transform: skewX(-15deg);
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}

.main__card:hover{
   filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.301));  
   background-color: rgba(255, 255, 255, 0.116) !important;
   background-blend-mode: screen;
}
.card__image{
    padding: 110px 0;
    width: 55%;
    /* transform: skewX(15deg); */
    background-size: 29vw;
    background-position: -60px -20px;
    border-radius: 10px 0 0 10px;
    background-repeat: no-repeat;
}

.cards{
   
    display: flex !important;
}

.card__text, .card__header{
    transform: skewX(15deg);
    width: 80%;
    margin: auto;
}

.card__body{
    width: 100%;
    margin: auto;
    position: relative;
}
.card__text{
    padding-top: 20px;
    font-weight: 300;
    color: rgb(156, 156, 156);
}

.card__header h2{
    font-size: 40px;
}

.card__button{
    position: absolute;
    right: 0;
    bottom: 0;

}

.card__button button{
    padding: 10px 50px 0  50px;
    cursor: pointer;
    border: none;
    border-radius: 15px 0 10px 0px;
    background-color: rgb(0, 38, 255);
    color: #fff;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.card__button button:hover{
    background: #000;
}

.card__button button p{
    margin-top: 5px;
    transform: skewX(15deg);   
}